
.container {
    width: 95%;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

p, span, a {
    font-family: 'Montserrat', sans-serif; /*mudar depois*/
}


/*================= MAIN =================*/

.section-content {
    width: 100%;
    height: 500px;
}

.intro {
    margin-top: 80px;
    background-image: url("../img/home-img1.jpg");
    background-size: cover;
    border-bottom: 2px solid #339989;
}


.intro-subtitulo, .intro-btn, .intro-titulo {
    font-family: 'Montserrat', sans-serif;
}

.intro-titulo,.intro-subtitulo {
    text-align: center;
}

.intro-titulo {
    text-align: center;
    padding-top: 180px;
    font-size: 3.5em;
    font-weight: bolder;
    text-transform: uppercase;
}

.intro-subtitulo {
    font-size: 1.5em;
    padding-top: 10px;
}

.btn-agendamento {
    font-size: 1em;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: black;
    width: 20%;
    height: 20px;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}


.main {
    text-align: center;
}

.main-welcome {
    width: 75%;
    margin: 50px auto;
}

.main-titulo, .time-titulo {
    font-size: 1.5em;
    font-weight: bolder;
}

.main-descricao, .time-descricao {
    padding-top: 10px;
    font-size: 1.2em;
}

.main-content {
    background-color: #14c1f4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 2px 5px rgba(20,193,244,0.32);
    -moz-box-shadow: 0px 0px 2px 5px rgba(20,193,244,0.32);
    box-shadow: 0px 0px 2px 5px rgba(20,193,244,0.32);
} 

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: 1s all ease;
}


.historia, .vantagem {
    padding: 50px;
}

.vantagem {
    background-color: #5ad1f4;
}

.titulo {
    text-align: left;
    font-size: 1.2em;
    padding: 30px 0 20px 0;
}

.descricao {
    font-size: 1em;
    text-align: justify;
}

.time {
    text-align: center; 
    padding: 50px 0; 
    background-color: #F3F4F6;
}

.time-profissional {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.time-nome {
    font-weight: bold;
    padding: 20px 0 10px;
}

.time-papel {
    color: #3CC0AC; /*Corrigir para uma cor mais escura*/
}

.time-card {
    padding: 25px;
    background-color: #fff;
}

.time-foto {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: zoomIn 1s;
    animation: zoomIn .8s;
    visibility: visible;
}


@keyframes zoomIn{
    0%{
        opacity:0;
        transform: scale3d(.3, .3, .3);
    }
    50%{opacity:1}
}


.six-col {
    width: 45%;
}

.agendamento {
    text-align: center;
    padding: 80px 0;
    background-image: url(../img/agendamento-bg.jpg); 
    background-size: cover;
}

.agendamento-titulo {    
    font-weight: bold;
    font-size: 1.5em;
}

.agendamento-descricao {
    font-size: 1.2em;
    font-weight: bold;
}




/* Larger than mobile */
@media (max-width: 400px) {

    .intro-titulo {
        font-size: 2.5em;
    }

    .intro-subtitulo {
        font-size: 1.5em;
    }

    .btn-agendamento {
        width: 50%;
    }

    .intro-titulo {
        font-size: 2.5em;
    }

    .main-content, .time-profissional {
        flex-direction: column;
    }
   
    .historia, .vantagem {
        width: 75%;
    }
  

    .time-card {
        margin-bottom: 20px;
    }

    .agendamento-titulo {
        margin-bottom: 20px;
    }

    
}

/* Larger than phablet */
@media (min-width: 401px) and (max-width: 550px) {
    .main-content, .time-profissional {
        flex-direction: column;
    }

    .intro-titulo {
        font-size: 2.5em;
    }

    .btn-agendamento {
        width: 50%;
    }

    .historia, .vantagem {
        width: 75%;
    }

    .time-card {
        margin-bottom: 20px;
    }

    .time-descricao, .agendamento-descricao, .agendamento-titulo {
        width: 80%;
        margin: 0 auto;
    }

    .agendamento-titulo {
        margin-bottom: 15px;
    }
}

@media (max-width: 750px) {
    .logo-img {
        margin-left: 20px;
    }
}

/* Larger than tablet */
@media (min-width: 551px) and (max-width: 750px) {    
    .btn-agendamento {
        width: 40%;
    }

    .main-content, .time-profissional {
        flex-direction: column;
    }

    .vantagem, .historia {
        width: 80%;
    }

    .time-card {
        margin-bottom: 25px;
    }

    .agendamento-descricao {
        width: 75%;
        margin: 20px auto;
    }

      
}
/* Larger than desktop */
@media (min-width: 751px) and (max-width: 1000px) {    
    .intro {
        background-position: center center;
    }
    
    .btn-agendamento {
        width: 40%;
    }

    .main-content, .time-profissional {
        flex-direction: column;
    }

    .vantagem, .historia {
        width: 85%;
    }

    .time-card {
        margin-bottom: 25px;
    }

    .agendamento-descricao {
        width: 75%;
        margin: 20px auto;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1001px) {
    .intro {
        background-position: center center;
    }
}